version: 2

registries:
  tilleggsstonader-libs:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/tilleggsstonader-libs
    username: x-access-token
    password: ${{ secrets.READER_TOKEN }}

updates:
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
    time: "04:00"
  cooldown:
    default-days: 7
  open-pull-requests-limit: 10
  groups:
    backend:
      patterns:
        - "*"
  registries:
    - tilleggsstonader-libs

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
    time: "04:00"
  cooldown:
    default-days: 7

- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: "weekly"
    day: "monday"
    time: "08:00"
  cooldown:
    default-days: 7
  commit-message:
    prefix: "[docker] "
