name: digestabot

on:
  schedule:
    - cron: "17 4 * * *"
  workflow_dispatch:

jobs:
  digestabot:
    name: Update image digests
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: navikt/digestabot@v1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          team: tilleggsstonader